<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loan Add</title>
</head>
<body>

    <div>
        <form action="#" method="post"
            th:object="${loan}"
            th:action="@{/loans/save}">

            <table>
                <tr>
                    <td>clientName:</td>
                    <td><input type="text" th:field="*{clientName}"></td>
                </tr>
                <tr>
                    <td>clientLastName:</td>
                    <td><input type="text" th:field="*{clientLastName}"></td>
                </tr>
                <tr>
                    <td>loanAmount:</td>
                    <td><input type="number" th:field="*{loanAmount}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Agregar</button>
                    </td>
                </tr>
            </table>

        </form>
    </div>

</body>
</html>
